@use "../core/variables" as *;
@use "../core/functions" as fn;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .625rem 1rem;
  border-radius: $radius-md;
  border: 1px solid transparent;
  font-weight: 600;
  cursor: pointer;
  box-shadow: $shadow-sm;
  transition: .15s ease-in-out;
}

.btn--primary {
  background: $color-primary;
  color: $color-white;

  &:hover {
    background: fn.darken-color($color-primary, 5%);
  }

  &:focus {
    outline: 2px solid fn.darken-color($color-primary, 10%);
    outline-offset: 2px;
  }
}

.btn--secondary {
  background: $color-secondary;
  color: $color-neutral-900;

  &:hover {
    background: fn.darken-color($color-secondary, 5%);
  }
}
